# CCS / workspace folders
.jxbrowser.userdata/
.metadata/
dvt/
RemoteSystemsTempFiles/


# Root project files
.project

# Poster Assignment internal files/folders
Poster Assignment/.launches/
Poster Assignment/.settings/
Poster Assignment/Debug/
Poster Assignment/targetConfigs/

Poster Assignment/.ccsproject
Poster Assignment/.cproject
Poster Assignment/.project

Poster Assignment/heap_2.c
Poster Assignment/list.c
Poster Assignment/port.c
Poster Assignment/portasm.asm
Poster Assignment/queue.c
Poster Assignment/startup_frt.c
Poster Assignment/systick_frt.c
Poster Assignment/systick.c
Poster Assignment/tasks.c
Poster Assignment/tm4c123gh6pm.cmd
Poster Assignment/tm4c123gh6pm.h
Poster Assignment/tm4c123gh6pm_startup_ccs.cDebug/

# Build folders
Debug/
Release/

# Object/build files
*.o
*.obj
*.elf
*.hex
*.bin
*.map
*.lst
*.out
*.d
*.su
*.mk
Debug/
Debug/

Release/
*.o

*.obj

*.elf

*.hex

*.bin

*.map

*.lst

*.out

*.d

*.su

*.mk


# IDE / project metadata
.launches/
.settings/
.DS_Store
.ccsproject
.cproject

# Startup file excluded from submission
tm4c123gh6pm_startup_ccs.c


tm4c123gh6pm.h
tm4c123gh6pm.cmd


.launches/
.settings/
Debug/
targetConfigs/


.ccsproject
.cproject
.project


heap_2.c
list.c
port.c
portasm.asm
queue.c
startup_frt.c
systick_frt.c
tasks.c
tm4c123gh6pm.cmd
tm4c123gh6pm.h
tm4c123gh6pm_startup_ccs.c